# Server
NODE_ENV=development
PORT=3000
LOG_LEVEL=debug

# Database
MONGODB_URI=mongodb://localhost:27017/?replicaSet=rs0
DB_NAME=inventory_management_db

# API Gateway (items module)
GATEWAY_TOKEN=your-internal-gateway-secret
